* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: linear-gradient(200deg, #125f58, #095a3f83);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 12px 0;
}

nav a {
    
    color: #125f58;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #095a3f83;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#inicio {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

#inicio h1 {
    font-size: 2.9em;
    margin-bottom: 10px;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.trabajos div {
    background-color: #fff;
    border: 4px solid #053a20;
    border-radius: 10px;
    width: 300px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.trabajos div:hover {
    transform: translateY(-5px);
}

.trabajos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid #032514;
    border-collapse: separate;
    border-spacing: 0;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #125f58;
    color: white;
}

td img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

form {
    background-color: #fff;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #032514;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #053a20;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #125f58;}

.contacto-info{
    background-color: white;
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #053a20;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #053a20;
    color: white;
    padding: 15px 0;
    font-size: 0.9em;
}